<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    
    <link href="~/Content/Buttons.css" rel="stylesheet" />
    <link href="~/Content/Eksperimental.css" rel="stylesheet" />
    <link href="~/Content/Layout.css" rel="stylesheet" />
    <link href="~/Content/Makeup.css" rel="stylesheet" />
    
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Share my things", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @*@Html.ActionLink("Start", "Start", "Use", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Stop", "Stop", "Use", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Change", "Change", "Use", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @*                   "Text" - "Method" - "Controller", new { area = "Area" }, null )     *@
                    @*<li>@Html.ActionLink("Start", "Index", "Start", new { area = "Use" }, null)</li>
                        <li>@Html.ActionLink("Stop", "Index", "Stop", new { area = "Use" }, null)</li>
                        <li>@Html.ActionLink("Change", "Index", "Change", new { area = "Use" }, null)</li>*@
                    <li>@Html.ActionLink("Select", "SelectItem", "Use")</li>
                    <li>@Html.ActionLink("Stop", "Stop", "Use")</li>
                    <li>@Html.ActionLink("Change", "Change", "Use")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Share My Things</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
