@model ShareMyThings.ViewModel.Use.OkViewModel

@{
}

<div class="Table">
    <div class="Title primary">
        <p>@Model.Headline</p>
        @if (!string.IsNullOrWhiteSpace(Model.Now))
        {
            <p>Now: @Model.Now</p>
        }
    </div>
    <div class="Heading">
        <div class="Cell">
            <p>Message</p>
        </div>
        <div class="Cell">
            <p>&nbsp;</p>
        </div>
        <div class="Cell">
            <p>Time</p>
        </div>
        <div class="Cell">
            <p>Due in </p>
        </div>
    </div>
    <div class="Row">
        <div class="Cell">
            <p>Your reservation ends at</p>
        </div>
        <div class="Cell makeup-ok">
            <p></p>
        </div>
        <div class="Cell">
            <p>@Model.ReservationEnd.Time</p>
        </div>
        <div class="Cell">
            <p>@Model.ReservationEnd.Due</p>
        </div>
    </div>
    <div class="Row">
        <div class="Cell">
            <p>You have slack until</p>
        </div>
        <div class="Cell makeup-attention">
            <p></p>
        </div>
        <div class="Cell">
            <p>@Model.ReservationSlackEnd.Time</p>
        </div>
        <div class="Cell">
            <p>@Model.ReservationSlackEnd.Due</p>
        </div>
    </div>

    @if (Model.ShowNextReservation)
    {

        <div class="Row">
            <div class="Cell">
                <p>Next reservation starts at</p>
            </div>
            <div class="Cell makeup-warning">
                <p>*</p>
            </div>
            <div class="Cell">
                <p>@Model.NextReservationSlackStart.Time</p>
            </div>
            <div class="Cell">
                <p>@Model.NextReservationSlackStart.Due</p>
            </div>
        </div>
        <div class="Row">
            <div class="Cell">
                <p>Latest time of return</p>
            </div>
            <div class="Cell makeup-strong-warning">
                <p></p>
            </div>
            <div class="Cell">
                <p>@Model.NextReservationStart.Time</p>
            </div>
            <div class="Cell">
                <p>@Model.NextReservationStart.Due</p>
            </div>
        </div>
    }
</div>

<br />
@if (Model.ShowNextReservation)
{
    if (Model.HasOverlap)
    {
        <div class="primary">
            <div class="makeup-warning inline">@Html.Raw( string.Format("<name>{0}</name> phone: (<a href=\"tel:{1}\">{1}</a>) will be happy if you return before schedule", Model.NextUserName, Model.NextUserPhoneForUrl))</div>
            @*@Html.DisplayFor( model => model.NextUserPhoneForDisplay)*@
        </div>
    }
    else
    {
        <div class="primary">
            <div class="inline">@Html.Raw(string.Format("Next user: <name>{0}</name> (<a href=\"tel:{1}\">{2:## #### ####}</a>)", Model.NextUserName, Model.NextUserPhoneForUrl, Model.NextUserPhoneForDisplay))</div>
        </div>
    }
}

<div class="primary">
    <div class="confirm primary">
        <a href="../OK/@Model.ItemId" class="button">Refresh</a>
    </div>
</div>


