@model ShareMyThings.ViewModel.Use.SelectItemViewModel

@{
    ViewBag.Title = "SelectItem";
}

<h2>@Model.Headline</h2>


<div class="Table" id="XuSelectList">
    @*<div class="Title primary">
            <p>@Model.Headline</p>
        </div>*@
    <div class="Heading Onehundred">
        <div class="Cell Onehundred">
            <div class="rotate ">Item</div>
        </div>
        <div class="Cell Onehundred">
            <div class="rotate ">Start use</div>
        </div>
        <div class="Cell Onehundred">
            <div class="rotate ">Stop use</div>
        </div>
        <div class="Cell Onehundred">
            <div class="rotate ">Status</div>
        </div>
        <div class="Cell Onehundred">
            <div class="rotate">
                Change<br />reservation
            </div>
        </div>
    </div>

    @foreach (var item in @Model.ItemList)
    {

        <div class="Row Row@(item.Key%2==0?"Even":"Odd")">
            <div class="Cell Col1">
                @item.Display
            </div>
            <div class="Cell Col2">
                @Html.ActionLink("+", "Start", "Use", new { id = @item.Key }, null)
            </div>
            <div class="Cell Col3">
                @Html.ActionLink("-", "Stop", "Use", new { id = @item.Key }, null)
            </div>
            <div class="Cell Col4">
                @Html.ActionLink("?", "OK", "Use", new { id = @item.Key }, null)
            </div>
            <div class="Cell Col5">
                @Html.ActionLink("%", "Change", "Use", new { id = @item.Key }, null)
            </div>
        </div>
    }
</div>
